* {
    margin: 0;
    padding: 0;
    font-family: "source-sans-pro";
}

.who-am-i {
    transition: all 0.3s;
    position: relative;
}

.who-am-i .headline {
    border-radius: 0 0 150px 0;
    background: linear-gradient(90deg, #32393c, #222e33);
    position: relative;
    z-index: 15;
}

.who-am-i .the-rest {
    background: #fff;
    border-radius: 150px 0 0 0;
    position: relative;
    z-index: 10;
}

.who-am-i section {
    margin: 0 10%;
    padding: 50px;
    display: grid;
}

.who-am-i section h2 {
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 20px;
}

.who-am-i section .quote {
    display: flex;
    justify-self: center;
    margin-bottom: 10px;
    flex-direction: column;
}

.who-am-i section .quote p {
    font-size: 1.5rem;
    font-weight: 300;
    color: #333;
    font-style: italic;
    display: block;
    margin-bottom: 5px;
}
.who-am-i section .quote label {
    font-size: 1rem;
    font-weight: 300;
    text-align: right;
}

.who-am-i section > p {
    margin: 10px 0;
    font-weight: 400;
    font-size: 1rem;
    color: #333;
    text-align: justify;
}

.who-am-i .headline section h2 {
    color: #ddd;
}

.who-am-i .headline section .quote p {
    color: #eee;
}
.who-am-i .headline section .quote label {
    color: #fff;
}

.who-am-i .headline section > p {
    color: #ddd;
}

.who-am-i .whiteboard {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 50%;
    background: #fff;
    z-index: 5;
}

.who-am-i .blackboard {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 50%;
    background: #32393c;
    z-index: 5;
}

.who-am-i .the-rest > section {
    position: relative;
}

.who-am-i #backward,
.who-am-i #forward {
    position: absolute;
    top: 50%;
    background: none;
    border: none;
    cursor: pointer;
}
.who-am-i #backward {
    left: -50px;
}
.who-am-i #forward {
    right: -50px;
}

.who-am-i .scroll-timeline {
    list-style-type: none;
}
.who-am-i .scroll-timeline > li {
    display: grid;
    grid-template-columns: 40% 60%;
}

.who-am-i .scroll-timeline > li .desc {
    font-family: "source-sans-pro";
}
.who-am-i .scroll-timeline > li .desc h3 {
    font-weight: 300;
    font-size: 2.5rem;
    margin-bottom: 30px;
    opacity: 1;
    transition: all 0.4s;
}
.who-am-i .scroll-timeline > li .desc p {
    font-weight: 300;
    font-size: 1.5rem;
    color: #222;
    padding: 0 0 20px 0;
    opacity: 1;
    transition: all 0.4s;
}

.fade-out {
    transition: opacity 0.4s;
    opacity: 0 !important;
}

@media (max-width: 600px) {
    .who-am-i section {
        margin: 0 3%;
        padding: 50px 30px;
        display: grid;
    }
    .who-am-i .scroll-timeline > li {
        grid-template-columns: 1fr;
    }
    .who-am-i #backward,
    .who-am-i #forward {
        top: 30%;
        width: 50px;
    }
    .who-am-i #backward > svg,
    .who-am-i #forward > svg {
        width: 100%;
    }
    .who-am-i #backward {
        left: calc(0px + 3%);
    }
    .who-am-i #forward {
        right: calc(0px + 3%);
    }
}
