.eyes {
    animation: blink 3s infinite;
    -webkit-animation: blink 3s infinite;
    -moz-animation: blink 3s infinite;
    opacity: 0;
}

.eyelids {
    animation: antiblink 3s infinite;
    -webkit-animation: antiblink 3s infinite;
    -moz-animation: antiblink 3s infinite;
    opacity: 1;
}

#chewer {
    animation: chew 0.5s infinite;
    -webkit-animation: chew 0.5s infinite;
    -moz-animation: chew 0.5s infinite;
    position: relative;
    transform: translate(0px, 0px);
    opacity: 0;
    transition: all 0.4s ease-in;
}
.baby #chewer {
    opacity: 1;
}

#baby-body {
    opacity: 0;
}
#baby-name-tag {
    opacity: 0;
}
#baby-hair {
    transform-origin: 248.313px 61.842px;
    transform: scale(0, 0);
    transition: all 1s;
}
#hair {
    opacity: 0;
    transition: all 0.5s;
}
.cheeks {
    opacity: 0;
    transition: all 1s;
}
.baby #baby-body {
    opacity: 1;
}
.baby #baby-name-tag {
    opacity: 1;
}
.baby .cheeks {
    opacity: 1;
}
.baby #baby-hair {
    transform: scale(1, 1);
}

#tcs-body {
    opacity: 0;
    transition: all 0.3s;
}
.tcs #tcs-body,
.nissan #tcs-body {
    opacity: 1;
}
.tcs #hair,
.nissan #hair {
    opacity: 1;
}

.tcs #tie-01 {
    fill: rgb(57, 95, 145);
    transition: all 0.3s;
}
.tcs #tie-02 {
    fill: rgb(57, 95, 145);
    transition: all 0.3s;
}
.tcs #tie-03 {
    fill: rgb(51, 89, 139);
    transition: all 0.3s;
}

.nissan #tie-01 {
    fill: rgb(145, 57, 57);
    transition: all 0.3s;
}
.nissan #tie-02 {
    fill: rgb(168, 0, 0);
    transition: all 0.3s;
}
.nissan #tie-03 {
    fill: rgb(161, 15, 15);
    transition: all 0.3s;
}

.tcs #pant {
    fill: rgb(5, 54, 105);
    transition: all 0.3s;
}
.nissan #pant {
    fill: rgb(28, 1, 7);
    transition: all 0.3s;
}

#nissan-beard {
    opacity: 0;
    transition: all 0.3s;
}
.nissan #nissan-beard {
    opacity: 1;
    transition: all 0.3s;
}

@keyframes chew {
    0% {
        transform: translate(0px, 0px);
    }
    20% {
        transform: translate(0px, 5px);
    }
    50% {
        transform: translate(0px, 5px);
    }
    90% {
        transform: translate(0px, -5px);
    }
    100% {
        transform: translate(0px, 0px);
    }
}
@-webkit-keyframes chew {
    0% {
        transform: translate(0px, 0px);
    }
    20% {
        transform: translate(0px, 5px);
    }
    50% {
        transform: translate(0px, 5px);
    }
    90% {
        transform: translate(0px, -5px);
    }
    100% {
        transform: translate(0px, 0px);
    }
}
@-moz-keyframes chew {
    0% {
        transform: translate(0px, 0px);
    }
    20% {
        transform: translate(0px, 5px);
    }
    50% {
        transform: translate(0px, 5px);
    }
    90% {
        transform: translate(0px, -5px);
    }
    100% {
        transform: translate(0px, 0px);
    }
}

@keyframes antiblink {
    0% {
        opacity: 1;
    }
    0.5% {
        opacity: 0;
    }
    80% {
        opacity: 0;
    }
    80.5% {
        opacity: 1;
    }
    90.5% {
        opacity: 1;
    }
    91% {
        opacity: 0;
    }
    95.5% {
        opacity: 0;
    }
    96% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes antiblink {
    0% {
        opacity: 1;
    }
    0.5% {
        opacity: 0;
    }
    80% {
        opacity: 0;
    }
    80.5% {
        opacity: 1;
    }
    90.5% {
        opacity: 1;
    }
    91% {
        opacity: 0;
    }
    95.5% {
        opacity: 0;
    }
    96% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}
@-moz-keyframes antiblink {
    0% {
        opacity: 1;
    }
    0.5% {
        opacity: 0;
    }
    80% {
        opacity: 0;
    }
    80.5% {
        opacity: 1;
    }
    90.5% {
        opacity: 1;
    }
    91% {
        opacity: 0;
    }
    95.5% {
        opacity: 0;
    }
    96% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    0.5% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    80.5% {
        opacity: 0;
    }
    90.5% {
        opacity: 0;
    }
    91% {
        opacity: 1;
    }
    95.5% {
        opacity: 1;
    }
    96% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes blink {
    0% {
        opacity: 0;
    }
    0.5% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    80.5% {
        opacity: 0;
    }
    90.5% {
        opacity: 0;
    }
    91% {
        opacity: 1;
    }
    95.5% {
        opacity: 1;
    }
    96% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@-moz-keyframes blink {
    0% {
        opacity: 0;
    }
    0.5% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    80.5% {
        opacity: 0;
    }
    90.5% {
        opacity: 0;
    }
    91% {
        opacity: 1;
    }
    95.5% {
        opacity: 1;
    }
    96% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
